@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'Ubuntu', 'Lato', 'Montserrat', 'Inria Sans' ,sans-serif;
  --titles-foreground: #0b2344;
  --light-foreground: white;
}

html, body{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family: var(--font-family);
}

* {
  font-family: var(--font-family) !important;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 300ms ease-in-out;
  font-weight: 400;
}

*::selection {
  background-color: var(--titles-foreground);
  color: var(--light-foreground);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #212529;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family)
}